/* BF7F6C, FFDDAE, B59D7B, 40372B, E6C79C */
body {
    font-family: Verdana, Geneva, sans-serif;
    color: #40372B;
    background-color: #FFDDAE;
}

h3 {
    font-family: Tahoma, Geneva, sans-serif;
    color: #BF7F6C;
}
